{% extends "layout.html" %}

{% block content %}
<div class="center-page">
    <div class="container login-box">

        <h2 style="text-align:center;">Admin Login</h2>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <br>
        <a href="/">← Back to Home</a>

    </div>
</div>
{% endblock %}
